{% extends 'base.html.twig' %}

{% block title %}New mail{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>



        {% for mail in user_mails %}
            <tr>
                <th scope="row">{{ mail.isFrom.email }}</th>
                <td>{% for user in mail.sendTo %}<span>{{ user.email }}</span>, {% endfor %}</td>
                <td>{{ mail.subject }}</td>
                <td>{{ mail.createdAt|format_datetime() }}</td>
                <td>
                    <a href="{{ path('app_mail_show', { id: mail.id}) }}" class="btn btn-primary" role="button"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_mail_archive', { id: mail.id}) }}" class="btn btn-success" role="button"><i class="fas fa-archive"></i></a>
                    <a href="{{ path('app_mail_delete', { id: mail.id}) }}" class="btn btn-danger" role="button"><i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}